
<ion-header>

</ion-header>
 
 <!--  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script> -->
<ion-content>

<!-- <audio autoplay loop>
  <source src="assets/audio/Sho's Lament Soundtrack.mp3" type="audio/mpeg">
</audio> -->
<audio autoplay loop>
  <source src="assets/audio/Forest Sounds.mp3" type="audio/mpeg">
</audio>

<img src='assets/img/logo.png' width="10%" margin>

<aside style = "float: right;" margin>
<img src='assets/img/SettingsButton.png'  width="40%" height="40%" style = "float: right" (click)='GoToSettings();'>
<br>
<br>
<br>
<br>
<br>
<img src='assets/img/StatsButton.png' width="40%" height="40%" style = "float: right;" (click)='GoToStats();'>
<br>
<br>
<br>
<br>
<br>
  <img class="image" src="assets/img/Play Button.PNG" style = "margin-top: 20%; width: 30%; margin-right: 5%" (click)='GoToGames();'>
</aside>


<!-- <div align="right">
<img src='/img/Circle.PNG' width="40%" >

</div> -->





<!-- <div class="row">

<img class = "wiggleAnim" src='/img/Picture1.png' (click)='wispAction()'>
</div> 


<div class="col" align="center">
<div class="row" align="center"><button ion-button ng-click ='GoToScore()'>Next</button></div>
<p></p>
<div class="row"><button ion-button (click)='GoToScore()'>Next</button></div>
<p></p>
<div class="row"><button ion-button (click)='GoToScore();'>Next</button></div>
<p></p>
<div class="row"><button ion-button (click)='GoToScore();'>Next</button></div>
</div>
 -->









<!-- <div class = "row">
   <div class = "col">col 1</div>
   <div class = "col">col 2</div>
   <div class = "col">col 3</div>
   <div class = "col">col 4</div>
   <div class = "col">col 5</div>
</div> -->



<!--   <div class="diamond" align="left">
</div> -->

<!-- 
 
  <ion-list >
 
    <ion-item-sliding *ngFor="let ques of question">
 
      <ion-item>
 
        <p>{{ques.q}}</p>
 
     
      </ion-item>
 
    
    </ion-item-sliding>
 
  </ion-list>

 -->



<!-- 
<ion-card align="center">
  <ion-card-header >
    Word problem
  </ion-card-header>
  <ion-card-content>
    14 birds were sitting in a tree. 21 more birds flew up to the tree. How
many birds were there altogether in the tree? 
  </ion-card-content>
</ion-card>
 -->


<!-- <div class="parent">
<div class="labels">
  
  <div class="diamond">
</div>

</div>

<div class="controls">
  <ion-card>
  <ion-card-header >
    Word problem
  </ion-card-header>
  <ion-card-content>
    14 birds were sitting in a tree. 21 more birds flew up to the tree. How
many birds were there altogether in the tree? 
  </ion-card-content>
</ion-card>

</div>
</div> -->




<!-- 
<button ion-button (click)='GoToScore();'>Next</button>
<button ion-button (click)='GoToGame1();'>Game 1</button>
 -->






<!-- 
<ion-list>

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

</ion-list>
  -->

<!--   <ion-list no-lines>
 
    <ion-item-sliding *ngFor="let die of dice">
 
      <ion-item>
 
        <p>{{die.score}}</p>
 
     
      </ion-item>
 
    
    </ion-item-sliding>
 
  </ion-list> -->
  
</ion-content>

